/* CSS Entry Point */
$blueColor: #0192bb;
$grayColor: #777777;

body {
	background-color: #f5f5f1;
}

.app {
	width: 1000px;
	margin: auto;
	font-family: Graphik Web, Arial, Helvitica, sans-serif;
	font-size: 14px;
}

.topheader {
	h2 {color: $blueColor; display: inline-block;}
	button {
		background: #34a8c4;
		color: white;
		border: #34a8c4;
		height: 40px;
		width: 80px;
		padding: 0;
		margin: 0;
		font-size: 13px;
		font-weight: bold;
	}
}

#searchbtn {
	height: 35px;
	width: 250px;
	padding-right: 0;
	margin-right: 0;
}


.navbar {
	display: flex;
}

.navbar li {
	justify-content: space-around;
	flex-direction: row;
	color: $grayColor;
	padding: 10px;
}

ul {
	list-style: none;
}

li {
	color: orange;
}

aside {
	float: left;
	border: 1px solid red;
	width: 270px;
	height: 1200px;
}

#topbox {
	height: 405px;
	width: 245px;
	background-color: #ffffff;
	border: .5px solid #444;
	padding-left: 10px;
	padding-top: 10px;
	li {
		color: $blueColor;
		padding-bottom: 8px;
		font-size: 13px;
		font-weight: lighter;
		letter-spacing: .5px;
	}
	a {
		color: $blueColor;
		text-decoration: none;
	}
	span {
		color: #444;
		letter-spacing: .5px;
		font-size: 13px;
		font-weight: bold;
	}
}

ul.categories {
	padding-left: 20px;
	color: $blueColor;
}
#bottombox { 
	height: 650px;
	width: 245px;
	background-color: #ffffff;
	border: .5px solid #444;
	padding-left: 10px;
	padding-top: 10px;
	color: #444;
	.item_type {
		color: $blueColor;
		padding-bottom: 8px;
		font-size: 13px;
		font-weight: lighter;
		letter-spacing: .5px;
		padding-left: 20px;
	}
		//span {
	//		
	//	}

.sections span {
	padding-left: 20px;	
	color: #444;
	letter-spacing: .5px;
	font-size: 13px;
	font-weight: bold;
}
//	.colorblocks li {
//		height: 20px;
//		width: 20px;
//		border: .5px solid red;		
//	}
}
.colorblocks {
	height: 20px;
	width: 20px;
	display: flex;
	}

.colorblocks li {
	flex-direction: row;
	li:nth-child(1) {
		background-color: #F40B32;
	}
	li:nth-child(2) {
		background-color: #Ff7f00;
	}
	li:nth-child(3) {
		background-color: #f3cc0c;
	}
	li:nth-child(4) {
		background-color: #0ac20a;
	}
	li:nth-child(5) {
		background-color: #0cccf3;
	}
	li:nth-child(6) {
		background-color: #a60cf3;
	}
	li:nth-child(7) {
		background-color: #000000;
	}
	li:nth-child(8) {
		background-color: #ffffff;
	}
}


main {
	float: right;
	width: 725px;
	border: 1px solid blue;
	img {
		height: 176px;
		width: 225px;
		overflow: hidden;
	}


}

.individual_item {
	border: .5px solid $grayColor;
	display: inline-block;
	height: 225px;
	width: 225px;
	margin-left: 5px;
	margin-right: 2px;
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 12px;
	.price {
		color: #78c042;
		float: right;
	}
	.currency {
		color: #78c042;
		float: right;
	}
	
}

footer {
	float: right;
	height: 100px;
	width: 725px;
	border: 1px solid yellow;
}

















