/* CSS Entry Point */
$blueColor: #0192bb;
$grayColor: #777777;

body {
	background-color: #f5f5f1;
}

.app {
	width: 1000px;
	margin: auto;
	font-family: Graphik Web, Arial, Helvitica, sans-serif;
	font-size: 14px;
}

li {
	list-style: none;
}
.topheader {
	background-color: #ffffff;
	position: relative;
	display: block;
//	bottom-border: .5px solid $grayColor;
	h1 {
		color: #f56400; 
		display: inline-block; 
		font-family: serif; 
		font-size: 36px;
		margin-right: 20px;
//		margin-top: 5px;
//		margin-bottom: 5px;
	}
	.search {
		background: #34a8c4;
		color: white;
		border: #34a8c4;
		height: 35px;
		width: 80px;
		padding: 0;
		margin: 0;
		font-size: 13px;
		font-weight: bold;
		margin-right: 0;
	}
	a {
		color: $blueColor;
		text-decoration: none;
		margin-left: 20px;
		font-size: 13px;
		letter-spacing: .5px;
	}
	.sign_in {
		background: #ffffff;
		color: $blueColor;
		font-size: 13px;
		height: 35px;
		width: 60px;
		border: 1px solid $blueColor;
		border-radius: 3px;
		position: absolute;
		top: 30px;
		right: 80px;
	}
	span {
		align-content: flex-end;
		font-size: 11px;
		vertical-align: bottom;
		position: absolute;
		bottom: 25px;
		right: 20px;
	}
	#shopping_cart {
		position: absolute;
		top: 25px;
		right: 20px;
	}


}

#register {
	position: absolute;
	right: 160px;
	top: 40px;
}

#sell {
	position: absolute;
	right: 230px;
	top: 40px;
}

#searchbtn {
	height: 29px;
	width: 250px;
	margin: 0;
}

.bottomheader {
	border-top: .5px solid #e1e3df;
	background-color: #ffffff;
	border-bottom: 1px solid #e1e3df;
	box-shadow: 10px 10px 5px #e1e3df;
}
.navbar {
	display: flex;
}

.navbar li {
	justify-content: space-around;
	flex-direction: row;
	color: $grayColor;
	padding: 10px;
}


aside {
	float: left;
	border: 1px solid red;
	width: 270px;
	height: 1200px;
}

#topbox {
	height: 405px;
	width: 245px;
	background-color: #ffffff;
	border: .5px solid #e1e3df;
	border-radius: 3px;
	padding-left: 10px;
	padding-top: 10px;
	li {
		color: $blueColor;
		padding-bottom: 8px;
		font-size: 13px;
		font-weight: lighter;
		letter-spacing: .5px;
	}
	a {
		color: $blueColor;
		text-decoration: none;
	}
	span {
		color: #444;
		letter-spacing: .5px;
		font-size: 13px;
		font-weight: bold;
	}
}

ul.categories {
	padding-left: 20px;
	color: $blueColor;
}
#bottombox { 
	height: 650px;
	width: 245px;
	border: .5px solid #e1e3df;
	border-radius: 3px;
	background-color: #ffffff;
	padding-left: 10px;
	padding-top: 10px;
	color: #444;
	li {
		list-style: none;
	}
	.item_type {
		color: $blueColor;
		padding-bottom: 8px;
		font-size: 13px;
		font-weight: lighter;
		letter-spacing: .5px;
		padding-left: 20px;
	}
}	
	
.colorblocks li {
	height: 20px;
	width: 20px;
	border: 2px solid red;
	li:nth-child(1) {
	background-color: #F40B32;
		}
	li:nth-child(2) {
		background-color: #Ff7f00;
		}
	li:nth-child(3) {
		background-color: #f3cc0c;
		}
	li:nth-child(4) {
		background-color: #0ac20a;
		}
	li:nth-child(5) {
		background-color: #0cccf3;
		}
	li:nth-child(6) {
		background-color: #a60cf3;
	}
	li:nth-child(7) {
		background-color: #000000;
		}
	li:nth-child(8) {
		background-color: #ffffff;
		}			
	}

.sections span {
	padding-left: 20px;	
	color: #444;
	letter-spacing: .5px;
	font-size: 13px;
	font-weight: bold;
}
//	.colorblocks li {
//		height: 20px;
//		width: 20px;
//		border: .5px solid red;		
//	}
//}

//.filterbycolor {
//	display: flex;
//}

//.colorblocks {

//	flex-direction: row;
	




main {
	float: right;
	width: 725px;
	border: 1px solid blue;
	background-color: #f5f5f1;

	.photo {
//		height: 176px;
//		width: 225px;
		overflow: hidden;
	}
}






.individual_item {
	border: .5px solid $grayColor;
	display: inline-block;
	height: 225px;
	width: 225px;
	margin-left: 5px;
	margin-right: 2px;
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 12px;
	position: relative;

	.price {
		color: #78c042;
		float: right;
	}
	.currency {
		color: #78c042;
		float: right;
	}
	.disappearing_img {
		height: 20px;
		width: 20px;
		position: absolute;
		right: 5px;
		top: 5px;
//		display: none;
		&:hover {
		display: inline-block;
		}	}
	.disappearing_img2 {
		height: 20px;
		width: 20px;
		position: absolute;
		right: 35px;
		top: 5px;
//		z-index: -2;
		}
}

footer {
	float: right;
	height: 100px;
	width: 725px;
	border: 1px solid yellow;
}

















