/* CSS Entry Point */
$blueColor: #0192bb;
$grayColor: #777777;

body {
	background-color: #f5f5f1;
}

.app {
	width: 1000px;
	margin: auto;
	font-family: Graphik Web, Arial, Helvitica, sans-serif;
	font-size: 14px;
}

li {
	list-style: none;
}
.topheader {
	background-color: #ffffff;
	position: relative;
	display: block;
//	bottom-border: .5px solid $grayColor;
	h1 {
		color: #f56400; 
		display: inline-block; 
		font-family: serif; 
		font-size: 36px;
		margin-right: 20px;
//		margin-top: 5px;
//		margin-bottom: 5px;
	}
	.search {
		background: #34a8c4;
		color: white;
		border: #34a8c4;
		height: 35px;
		width: 80px;
		padding: 0;
		margin: 0;
		font-size: 13px;
		font-weight: bold;
		margin-right: 0;
	}
	a {
		color: $blueColor;
		text-decoration: none;
		margin-left: 20px;
		font-size: 13px;
		letter-spacing: .5px;
	}
	.sign_in {
		background: #ffffff;
		color: $blueColor;
		font-size: 13px;
		height: 35px;
		width: 60px;
		border: 1px solid $blueColor;
		border-radius: 3px;
		position: absolute;
		top: 30px;
		right: 80px;
	}
	span {
		align-content: flex-end;
		font-size: 11px;
		vertical-align: bottom;
		position: absolute;
		bottom: 25px;
		right: 20px;
	}
	#shopping_cart {
		position: absolute;
		top: 25px;
		right: 20px;
	}


}

#register {
	position: absolute;
	right: 160px;
	top: 40px;
}

#sell {
	position: absolute;
	right: 230px;
	top: 40px;
}

#searchbtn {
	height: 29px;
	width: 250px;
	margin: 0;
	background-color: #f5f5f1;
}

.bottomheader {
	border-top: .5px solid #e1e3df;
	background-color: #ffffff;
	border-bottom: 1px solid #e1e3df;
	box-shadow: 5px 5px 2px #e1e3df;
}
.navbar {
	display: flex;
}

.navbar li {
	justify-content: space-around;
	flex-direction: row;
	color: $grayColor;
	padding: 10px;
}


aside {
	float: left;
	width: 270px;
	height: 1200px;
}

#topbox {
	height: 405px;
	width: 245px;
	background-color: #ffffff;
	border: .5px solid #e1e3df;
	border-radius: 3px;
	padding-left: 10px;
	padding-top: 10px;
	li {
		color: $blueColor;
		padding-bottom: 8px;
		font-size: 13px;
		font-weight: lighter;
		letter-spacing: .5px;
	}
	a {
		color: $blueColor;
		text-decoration: none;
	}
	span {
		color: #444;
		letter-spacing: .5px;
		font-size: 13px;
		font-weight: bold;
	}
}

ul.categories {
	padding-left: 20px;
	color: $blueColor;
}


#bottombox { 
 	height: 650px;
 	width: 234px;
 	border: .5px solid #e1e3df;
 	border-radius: 3px;
 	background-color: #ffffff;
 	color: $blueColor;
 	padding-left: 10px;
 	padding-top: 10px;
 	padding-bottom: 10px;
 	padding-right: 10px;

	span {
		color: #444;
		letter-spacing: .5px;
		font-size: 13px;
		font-weight: bold;
		padding-bottom: 5px;
	}
	.item_type {
 		padding-bottom: 18px;
		font-size: 13px;
 		letter-spacing: .5px;
 		line-height: 25px;
 		margin-bottom: 18px;
 		border-bottom: 1px solid #e1e3df;
 	}
 	.price {
 		margin-bottom: 18px;
 		padding-bottom: 18px;
 		border-bottom: 1px solid #e1e3df;
 	}
 	.price span{
 		border-bottom: 8px;
 	}
 	.price #lowbtn {
 		background-color: #ffffff;
		color: #444;
		border: .5px solid #e1e3df;
		border-radius: 3px;
		font-size: 13px;
		padding: 10px;
		width: 50px;
		height: auto;
		margin-top: 8px;
 	}
 	.price #highbtn {
 		background-color: #ffffff;
		color: #444;
		border: .5px solid #e1e3df;
		border-radius: 3px;
		font-size: 13px;
		padding: 10px;
		width: 50px;
		height: auto;
		margin-top: 8px;
 	}
 	.narrowprice {
 		background-color: #ffffff;
		color: #444;
		border: .5px solid #e1e3df;
		border-radius: 3px;
		padding: 12px;
 	}
 	.filterbycolor {
 		padding-bottom: 18px;
 		margin-bottom: 18px;
 		border-bottom: 1px solid #e1e3df;
 		ul.colorblocks {
 			padding-left: 5px;
 		}
 		ul li { 
 		height: 20px;
		width: 20px;
		display: inline-block;

		}
		li:nth-child(1) {
			background-color: #F40B32;
			border: 1px solid #F40B32;
			border-radius: 3px;
		}
		li:nth-child(2) {
			background-color: #Ff7f00;
			border: 1px solid #Ff7f00;
			border-radius: 3px;
 		}
 		li:nth-child(3) {
 			background-color: #f3cc0c;
 			border: 1px solid #f3cc0c;
			border-radius: 3px;
 		}
	 	li:nth-child(4) {
 			background-color: #0ac20a;
 			border: 1px solid #0ac20a;
			border-radius: 3px;
 		}
	 	li:nth-child(5) {
 			background-color: #0cccf3;
 			border: 1px solid #0cccf3;
			border-radius: 3px;
 		}
	 	li:nth-child(6) {
 			background-color: #a60cf3;
 			border: 1px solid #a60cf3;
			border-radius: 3px;
	 	}
	 	li:nth-child(7) {
	 		background-color: #000000;
	 		border: 1px solid #000000;
			border-radius: 3px;
 		}
	 	li:nth-child(8) {
 			background-color: #ffffff;
 			border: .5px solid #e1e3df;
			border-radius: 3px;
 		}			
 	}
 	.options {
 		letter-spacing: .5px;
		font-size: 13px;
		line-height: 25px;
		margin-bottom: 18px;
		padding-bottom: 18px;
		border-bottom: 1px solid #e1e3df;
 	}
 	.location {
 		padding-bottom: 18px;
 		margin-bottom: 18px;
 		letter-spacing: .5px;
		font-size: 13px;
		line-height: 25px;
		border-bottom: 1px solid #e1e3df;
 	}
 	a {
 		text-decoration: none;
 		color: $blueColor;
	}
	.dropmenu {

		button {
			height: 38px;
			width: 230px;
			background-color: #ffffff;
			border: .5px solid #e1e3df;
			font-size: 14px;
			text-align: left;
			padding-left: 15px;
		}
	}
}	



main {
	float: right;
	width: 725px;
//	border: 1px solid blue;
	border-top: .5px solid #e1e3df;
	background-color: #f5f5f1;
	font-size: 13px;
	position: relative;
	.individual_item {
		background-color: #ffffff;
	}
	.photo {
//		height: 176px;
//		width: 225px;
		overflow: hidden;
	}
	.item_name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 5px;
	}
	.company {
		color: $grayColor;
		letter-spacing: .5px;
		margin-left: 5px;
		position: absolute;
		bottom: 5px;
	}
}






.individual_item {
	display: inline-block;
	height: 225px;
	width: 225px;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 7px;
	margin-bottom: 7px;
	font-size: 12px;
	position: relative;
	border: .5px solid #e1e3df;
	.currency {
		color: #78c042;
		position: absolute;
		bottom: 5px;
		right: 5px;
		margin-right: 5px;
	}
	.price {
		color: #78c042;
		position: absolute;
		right: 35px;
		bottom: 5px;
		margin-right: 5px;
	}
	.disappearing_img {
		height: 20px;
		width: 20px;
		position: absolute;
		right: 5px;
		top: 5px;
//		display: none;
		&:hover {
		display: inline-block;
		}	
	}
	.disappearing_img2 {
		height: 20px;
		width: 20px;
		position: absolute;
		right: 35px;
		top: 5px;
//		z-index: -2;
		}
}

.disappearing_img {
	display: none;
}

.disappearing_img2 {
	display: none;
}

.individual_item:hover {
	.disappearing_img {
		display: inline-block;
	}
	.disappearing_img2 {
		display: inline-block;
	}
}



footer {
	float: right;
	height: 100px;
	width: 725px;
	color: $blueColor;
	letter-spacing: .5px;
	font-size: 13px;

	.column1 {
		height: 100px;
		width: 175px;
		line-height: 25px;
		display: inline-block;
		padding-left: 10px;
	}
	.column2 {
		height: 100px;
		width: 175px;
		line-height: 25px;
		display: inline-block;
		padding-left: 10px;
	}
	.column3 {
		height: 100px;
		width: 175px;
		line-height: 25px;
		display: inline-block;
		vertical-align: top;
		padding-left: 10px;
	}
}	

















